<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iworld</title>
    <link rel="stylesheet" href="../style/service.css">
    <link rel="stylesheet" href="../style/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Borel&family=Handjet:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img width="30%" src="../img/logo.jpg" alt="">
        </div>
        <div class="nav">
            <a  href="../index.html"><p>Home</p></a>
            <a  href="../template/service.html"><p>Service</p></a>
            <a class="curent" href="../template/about.html"><p>About</p></a>
            <a href="./contact.html"><p>Contact</p></a>
        </div>
        <div class="menu">
            <img src="../img/menu-regular-24 (1).png" alt="" class="click">
            <div class="menu-nav">
                <a  href="../index.html"><p>Home</p></a>
                <a  href="../template/service.html"><p>Service</p></a>
                <a class="curent" href="../template/about.html"><p>About</p></a>
            <a href="./contact.html"><p>Contact</p></a>
            </div>
        </div>
    </header>
    <section class="sec-1">
        <div class="section-1">
            <a href="../index.html">Home/</a>
            <a href="../template/service.html">About</a>
        </div>
    </section>  
    <main>
        <div class="about about-head">
            <h1>iworld e-service</h1>
            <h5>A Decade of Innovation and Excellence</h5>
            <p>iWorld Technology and Online Services is a dynamic and forward-thinking company that has been at the forefront of the technology and online services industry for the past decade. Since our inception in 23-10-2013, we have continuously strived to provide cutting-edge solutions to our clients and have remained committed to our mission of making the digital world more accessible, efficient, and secure.</p>
        </div>
        <div class="futher">
            <h2>Our Vision for the Future</h2>
            <p>                     Looking ahead, IWorld Technology and Online Services is poised for even greater success. We are dedicated to pushing the boundaries of technology, enhancing  and contributing to a sustainable digital future. Our journey over the past decade has been characterized by adaptability, innovation, and a commitment to our clients' success, and we look forward to many more years of excellence in the ever-evolving tech industry. Thank you for being a part of our journey!</p>
            <br>
            <br>
            <hr>
        </div>
        <div class="manage">
            <h2>Handled and Managed by</h2>
            <p>Mrs Papitha D - Office Manger </p>
            <p> Mrs Jamuna G -  Operations Manager </p>
            <p> Mr Dinesh C S - Creator & Advisor </p>
            <p> Mr Siddharthan X - Digital Marketing & Agency</p>
        </div>
    </main>
    <section class="footerr">
        <p>&copy iworld e-service</p>
    </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../script.js"></script>
</html>