<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iworld</title>
    <!-- <link rel="stylesheet" href="../style/style.css"> -->
    <link rel="stylesheet" href="../style/service.css">
</head>
<body>
    <header>
        <div class="logo">
            <img width="30%" src="../img/logo.jpg" alt="">
        </div>
        <div class="nav">
            <a class="" href="../index.html"><p>Home</p></a>
            <a class="curent" href="./template/service.html"><p>Service</p></a>
            <a href="../template/about.html"><p>About</p></a>
            <a href="./contact.html"><p>Contact</p></a>
        </div>
        <div class="menu">
            <img src="../img/menu-regular-24 (1).png" alt="" class="click">
            <div class="menu-nav">
                <a class="" href="../index.html"><p>Home</p></a>
                <a class="curent" href="./template/service.html"><p>Service</p></a>
                <a href="../template/about.html"><p>About</p></a>
                <a href="./contact.html"><p>Contact</p></a>
            </div>
        </div>
    </header>
    <section class="sec-1">
        <div class="section-1">
            <a href="../index.html">Home/</a>
            <a href="../template/service.html">Service</a>
        </div>
    </section>
    <main>
        <div class="ser ser-list">
            <div class="div div-1">
                <h3>CSC Service</h3>
                <ul>
                    <li><a href="">Aadhar Card</a></li>
                    <li><a href="">Pan Card</a></li>
                    <li><a href="">Passport</a></li>
                </ul>
            </div>
            <div class="div div-2">
                <h3>E Sevai</h3>
                <ul>
                    <li><a href="">Community Certificate</a></li>
                    <li><a href="">Nativity Certificate</a></li>
                    <li><a href="">Income Certificate</a></li>
                    <li><a href="">Other Backward Class Certificate</a></li>
                </ul>
            </div>
            <div class="div div-3">
                <h3>Digital Marketing</h3>
                <ul >
                    <li><a href="">Facebook Marketing</a></li>
                    <li><a href="">What'sapp Marketing</a></li>
                    <li><a href="">Youtube Marketing</a></li>
                    <li><a href="">Instagram marketing</a></li>
                    <!-- <li><a href="" class="more">Moree.</a></li> -->
                </ul>
            </div>
            <div class="div div-4">
                <h3>Insurance Agency</h3>
                <ul>
                    <li><a href="">LIC Insurance</a></li>
                    <li><a href="">Car Insurance</a></li>
                    <li><a href="">Two Wheeler Insurance</a></li>
                </ul>
            </div>
            <div class="div div-5">
                <h3>Banking</h3>
                <ul>
                    <li><a href="">Digi Pay</a></li>
                    <li><a href="">Bank Account Opening</a></li>
                    <li><a href="">Passport</a></li>
                </ul>
            </div>
            <div class="div div-6">
                <h3>Travel</h3>
                <ul>
                    <li><a href="">Railway Booking</a></li>
                    <li><a href="">Bus Booking</a></li>
                    <li><a href="">Airline Booking</a></li>
                </ul>
            </div>
            
        </div>
    </main>
    <!-- <footer>
        <section class="footerr">
            <p>&copy iworld e-service</p>
        </section>    
    </footer> -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../script.js"></script>
</html>