*{
    padding: 0;
    margin: 0;
    margin-top: 4px;

}
.curent{

    border-radius: 20px;
    color:rgb(158, 4, 4);
}
.nav>a{
    padding: 25px;
    font-size: 20px;
}
.menu{
    display: none;
}
.nav{
    display: flex;
    /* width: 20%; */
    justify-content: space-between;
    /* align-items: center; */
}
header{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.curent>p{

    border-radius: 10px;
    /* color:rgb(158, 4, 4); */
    box-shadow: 1px 1px 1px 1px;
    color: #74B1CA;
}
.sec-1{
    padding: 2rem 5rem;
    background-color: rgb(33, 164, 208);
}
.sec-1 >.section-1 > a{
    color: white;
    font-size: 20px;
    font-family:monospace;
}
.nav >a>p{
    padding: 9px;
}
.nav >a >p:hover {
    border: 1px solid #74B1CA;
    color: black;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.ser{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    /* place-items: center; */
    border: 1px solid black .3;
    gap: 0;
    width: 80%;
    margin: 0 auto ;
    margin-top: 2.5rem;
}
.div{
    /* height: 300px; */
    /* margin: 2.5rem; */
    border: 1px solid  rgba(136, 83, 83, 0.3);;
    text-align: center;
    padding: 25px;
}
li>a{
    text-decoration: none;
    color: black;
    opacity: .7;
}
li{
    list-style:none;
    padding: 12px;
}
ul{
    padding-top: 15px;
}
.phone{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: #74B1CA;
    padding: 1rem;
}
@media only screen and (max-width: 800px) {

    .ser{
        justify-content: center;
        grid-template-columns: 300px;
        grid-template-rows: repeat(6,300px)
        /* margin: 0 1rem; */
    }
    .nav{
        width: fit-content;
    }           
    .nav>a{
        font-size: 15px;
        padding: 15px;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    .logo>img{
        width:100px;
    }
    .sec-1 >.section-1 > a{
        font-size: 14px;
    
    }
    header  {
        display: flex;
        max-width: 80%;
        justify-content: space-between;
        margin: 0 auto;
    }
    .nav{
        /* width: fit-content; */
        display: none;
    }
    .menu{
        display: contents;
        position: relative;
    }
    .menu-nav{
        display: none;
        position: absolute;
        flex-direction: column;
        right: 40px;
        z-index: 1;
        top: 46px;
        background-color:lightblue;
        width: 250px;
        /* justify-content: center; */
        align-items: center;
        font-size: 25px;
        height: 40vh;
        border-radius: 15px;
        transition: 2s;
        animation-name: slo;
        animation-duration: .5s;
        animation-timing-function:ease-in;
    }
    .curent>p{
        border-radius: 10px;
        /* color:rgb(158, 4, 4); */
        box-shadow: none;
        color:#7A7B4D;

    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* gap: 10px; */
        align-items: center;
    }
    .foot{
        /* display: block; */
        /* text-align: center; */
        justify-content: center;
        width: 100%;
    }
    @keyframes slo {
        from{
            width: 25%;
            height: 70vh;
            /* align-items: center; */
        }
        to{
            /* width: 70%; */
        }
    }
}

/* .foot > div > a >img{
    mix-blend-mode: multiply;
    width: 40%;
} */