<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iworld</title>
    <link rel="stylesheet" href="../../style/service.css">
    <link rel="stylesheet" href="../../style/table.css">
</head>
<body>
    <header>
        <div class="logo">
            <img width="30%" src="../../img/logo.jpg" alt="">
        </div>
        <div class="nav">
            <a class="curent" href="../../index.html"><p>Home</p></a>
            <a class="" href="../service.html"><p>Service</p></a>
            <a href="../about.html"><p>About</p></a>
            <a href="../../template/contact.html"><p>Contact</p></a>
        </div>
        <div class="menu">
            <img src="../../img/menu-regular-24 (1).png" alt="" class="click">
            <div class="menu-nav">
                <a class="curent" href="../../index.html"><p>Home</p></a>
                <a class="" href="../service.html"><p>Service</p></a>
                <a href="../about.html"><p>About</p></a>
                <a href="../../template/contact.html"><p>Contact</p></a>
            </div>
        </div>
    </header>
    <section class="sec-1">
        <div class="section-1">
            <a href="../../index.html">Home/</a>
            <a href="../service/e-sevai.html">e Sevai/</a>
            <a href="">community</a>
        </div>
    </section>
    <main>
        <h2> Community Demographic Details</h2>
        <table>
            <tr>
                <th>Name</th>
                <td>siddharthan</td>
            </tr>       
            <tr>
                <th>Address</th>
                <td></td>
            </tr>       
            <tr>
                <th>Date of Birth</th>
                <td></td>
            </tr>       
            <tr>
                <th>Gender</th>
                <td></td>
            </tr>       
            <tr>
                <th>Mobile Number</th>
                <td></td>
            </tr>     
            <tr>
                <th>Email Address</th>
                <td></td>
            </tr>
            <tr>
                <th>Aadhaar Card Download</th>
                <td></td>
            </tr>
        </table>
        <div class="back">
            <a href="../service/e-sevai.html"><p><- Back</p></a>
        </div>
    </main>
    <!-- <section class="footerr">
        <p>&copy iworld e-service</p>
    </section> -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../../script.js"></script>
</html>