<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iworld</title>
    <link rel="stylesheet" href="../../style/service.css">
    <link rel="stylesheet" href="../../style/add.css">
</head>
<body>
    <header>
        <div class="logo">
            <img width="30%" src="../../img/logo.jpg" alt="">
        </div>
        <div class="nav">
            <a class="curent" href="../../index.html"><p>Home</p></a>
            <a class="" href="../service.html"><p>Service</p></a>
            <a href="../about.html"><p>About</p></a>
            <a href="../contact.html"><p>Contact</p></a>
        </div>
        <div class="menu">
            <img src="../../img/menu-regular-24 (1).png" alt="" class="click">
            <div class="menu-nav">
                <a class="curent" href="../../index.html"><p>Home</p></a>
                <a class="" href="../service.html"><p>service</p></a>
                <a href="../about.html"><p>About</p></a>
            <a href="../contact.html"><p>Contact</p></a>
            </div>
        </div>
    </header>
    <section class="sec-1">
        <div class="section-1">
            <a href="../../index.html">Home/</a>
            <a href="../template/service.html">Tourism</a>
        </div>
    </section>
    <main>
        <div class="container">
            <div class="conatin contain-1">
                <img src="../../img/rail.png" alt="">
                <h3>Railway Booking</h3>
                <a href="../toursim/railway.html"><p>More</p></a>
            </div>
            <div class="conatin contain-2">
                <img src="../../img/bus.jpg" alt="">
                <h3>Bus Booking</h3>
                <a href="../toursim/bus.html"><p>More</p></a>
            </div>
            <div class="conatin contain-3">
                <img src="../../img/air.jpg" width="100%" alt="">
                <h3>Airline Booking</h3>
                <a href="../toursim/airline.html"><p>More</p></a>
            </div>
            <!-- <div class="conatin contain-4">
                <img src="../../img/kisan.jpeg" alt="">
                <h3>PM Kisan</h3>
                <a href=""><p>More</p></a>
            </div>
            <div class="conatin contain-5">
                <img src="../../img/epfo.jpeg" alt="">
                <h3>EPFO</h3>
                <a href=""><p>More</p></a>
            </div> -->
        </div>
    </main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../../script.js"></script>
</html>